@font-face {
    font-family: "Tahoma";
    src: url("fonts/Tahoma.ttf");
}

@font-face {
    font-family: "Times New Roman";
    src: url("fonts/TimesNewRomanPS.ttf");
}

@font-face {
    font-family: "Times New Roman Italic";
    src: url("fonts/TimesNewRomanPS-IT.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px 15%;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 390px;
}

.nav ul a{
    text-decoration: none;
    color: #000000;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.title{
    width: 100%;
    height: auto;
    margin: 20px 0 26px;
    padding: 20px 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title img{
    width: 380px;
    height: 230px;
}

.title--content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title--content h1{
    color: #000000;
    width: 319px;
    font-family: "Tahoma";
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
}

.title--content p{
    width: 373px;
    height: 93px;
    color: #8d8d8d;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0 15px;
}

#readMore{
    width: 115px;
    height: 29px;
    color: #fefefe;
    font-family: "Tahoma";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    border-radius: 3px;
    background-color: #da4137;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}

.content--strategy--sect h3{
    color: #000000;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 9px;
}

.content--strategy--sect p{
    color: #8d8d8d;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.content--strategy--sect--options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 32px 0;
}

.content--strategy--sect--options div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;

}

.content--strategy--sect--options div i{
    color: #000000;
    font-family: "Times New Roman Italic";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 10px;
}


.page--content p{
    color: #8c8c8c;
    font-family: "Times New Roman";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 20px;
}

.page--content h3{
    color: #000000;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 10px;
}
